body {
    background-image: url(pexels-olia-danilevich-5088008.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container {
    text-align: center;
    background-color: rgb(205, 205, 205);
    height: 200px;
    width: 350px;
    margin-top: 35px;
    border-radius: 10px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.container h1 {
    border-bottom: 2px solid bisque;
    font-size: 2em;
    margin: 10px 30px;
}

.container input {
    width: 60%;
    height: 30px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-size: 15px;
}

.container button {
    width: 60%;
    height: 30px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    background-color:bisque;
    font-size: 15px;
}

.resultContainer {
    text-align: center;
    height: 60px;
    width: 350px;
    margin-top: 10px;
    display: none;
    border-radius: 10px;
}

.resultContainer p {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 60px;
    font-size: 1.5em;
    border-radius: 10px;
}